extends layout

block content
	div(data-role="content")
		h1 Apps
		p De ANWB heeft verschillende apps voor verschillende platformen. <br />
			| Kies je platform:
		ul(data-role="listview", data-inset="true", data-theme="c")
			li: a(href="/apps/android") Android <span class="ui-li-count">4</span>
			li: a(href="/apps/ios") iOS <span class="ui-li-count">1</span>