extends layout

block content
	div(data-role="content")
		h1 Apps
		p De ANWB heeft verschillende apps voor verschillende platformen. <br />
			| Kies je platform:
		ul(data-role="listview", data-inset="true", data-theme="c")
			li: a(href="/apps/android") Android
				span.ui-li-count= appsCount.android
			li: a(href="/apps/ios") iOS
				span.ui-li-count= appsCount.ios