extends layout

block content
	div(data-role="content")
		p Welkom op de mobiele website van De Koninklijke Nederlandse Toeristenbond ANWB;
			| een Nederlandse verkeers-, vervoers-, en hulporganisatie.
		p Voor meer info over de mobiele website kijk op de <a href="/welkom" data-transition="flow">welkom</a> pagina.
		ul(data-role="listview", data-inset="true", data-theme="c")
			li: a(href="/verkeer") Verkeersinformatie
			li: a(href="/wegenwacht") Wegenwacht
			li: a(href="/apps", data-rel="dialog", data-transition="pop") Apps
			li: a(href="/vereniging") Over de ANWB
