extends layout

block content
	div(data-role="content")
		ul(data-role="listview", data-inset="true", data-theme="c")
			li: a(href="/verkeer") Verkeersinformatie
			li: a(href="/wegenwacht") Wegenwacht
			li: a(href="/apps", data-rel="dialog", data-transition="pop") Apps
			li: a(href="/vereniging") Over de ANWB
