extends layout

block content
	div(data-role="content")
		h2= title
		p.
			De ANWB is ervan overtuigd dat de bescherming van de persoonlijke levenssfeer van haar leden en bezoekers van de website anwb.nl van essentieel belang is voor haar activiteiten.
			Persoonlijke gegevens van leden en bezoekers worden met de grootst mogelijke zorgvuldigheid behandeld.
			ANWB houdt zich in alle gevallen aan de eisen die de Wet bescherming persoonsgegevens stelt.
			De verantwoordelijke voor de gegevensverwerking is ANWB BV, Wassenaarseweg 220, 2596 EC Den Haag.
			In overeenstemming met de Wet bescherming persoonsgegevens is de verwerking aangemeld bij de Toezichthouder, het College bescherming persoonsgegevens gevestigd te Den Haag.
