extends layout

block content
	div(data-role="content")
		h2= title
		p.
			De Koninklijke Nederlandse Toeristenbond ANWB is een vereniging van bijna 4 miljoen leden, die met een unieke mix van activiteiten de belangen van haar leden behartigt op het gebied van mobiliteit, vakantie en vrije tijd.
			De activiteiten liggen in de sfeer van dienstverlening en beïnvloeding.
			Daarbij levert de ANWB waar mogelijk een bijdrage aan een duurzame ontwikkeling van de samenleving.
