.footer {
	padding: 5px 10px;
	text-align: center;
}

.footer a {
	font-size: 80%;
}

.hidden {
	display: none !important;
}

img.promo {
	width: 100%;
	box-shadow: 2px 2px 3px rgba(134, 134, 134, 0.34);
	border: 1px solid #CACACA;
}
